.buttons  {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.btnModal  {
         padding: 10px 15px;
        border-radius: 4px;
        border: none;
        ;
        color: #fff;
        cursor: pointer;
}



.modal-main label  {
    color: white;
    text-align: left;
    padding: 5px;
}

.modalCreate  {
    display: flex;
    flex-direction: column;
    height: 400px;
    
}