.userCard  {
    display: flex;
    background-color: rgba(255, 255, 255, 0.65);
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    
}

.userCard p  {
    font-size: 1.8rem;
    padding: 8px;
}



.userCard img  {
    width: 40px;
    height: 60px;
}

.popup  {
    color: #fff;
    background-color: rgba(0,0,0,0.5);
    padding: 2px 15px;
    border-radius: 20px;
    margin-top: 16px;
    font-size: 1.4rem;
    display: none;
}

